<!DOCTYPE html>
<html>
    <head>
        <title th:text='|commit.mycode.run ${course != null and course.name != null ? course.name : "Course"}|'>commit.mycode.run Course</title>
        <th:block th:if="${userIsOwner}">
            <meta name="_csrf" th:content="${_csrf.token}"/>
            <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        </th:block>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/commitVweb.css" />
    </head>
<body>
    <nav th:replace="fragments/ui.html :: navbar">commit.mycode.run</nav>

    <div class='container' style="margin-top: 80px;">
        <h2 th:if="${message}" th:text="${message}"></h2>
        <form th:if="${assignment != null}" method="POST">
            <div class="form-group">    
                <label for="assignmentName"><h2>Assignment Properties</h2></label>
                <input type='text' class='form-control form-control-lg'
                       name='assignmentName' style="font-size: 2em; height: auto;" 
                       placeholder='Assignment Name' th:value='${assignment.name}' />
                <div class="pull-right">
                    in course: <th:block th:text="${course.name}"></th:block>
                </div>
                <div>Embed: <span class="copyable" th:text="|${baseURL}/lti/assignment/${assignment.id}|"></span></div>

            </div>

            <div class="form-group">
                <label for="sourceRepo">Source Repository:</label>
                <div class="input-group">
                    <input type='text' class='form-control'
                           name='sourceRepo' id='sourceRepo'
                           placeholder='organization/repository'
                           th:value="${assignment.sourceRepoName ?: 
                           (course.defaultAssignmentOrganization != null ? course.defaultAssignmentOrganization.name : '')}" 
                           onchange='updateRepoUrl(this)'/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" 
                                onclick="selectRepo('#sourceRepo', '#repoLink, #sourceRepoUrl')">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                    </span>
                </div>
                <input type='hidden' th:value='${assignment.sourceRepoUrl}' 
                       id='sourceRepoUrl' name='sourceRepoUrl' />
                <a th:href="${assignment.sourceRepoUrl}" 
                   th:text="${assignment.sourceRepoUrl} ?: ''"
                   target="_blank" id="repoLink"></a>
            </div>
            <div class="form-group">                        
                <label>
                    <input type='checkbox' name='allowStudentSubmissions'
                           th:checked='${assignment.allowStudentSubmissions}' />
                    Allow students to submit zips of repos to LMS
                </label>
            </div>
            <div class="form-group">                        
                <label>
                    <input type='checkbox' name='studentMadeAdmin'
                           th:checked='${assignment.studentMadeAdmin}' />
                    Make students admins of their repos
                </label>
            </div>
            <div class="form-group">  
                <label>
                    <input type='checkbox' name='makePrivate'
                           th:checked='${assignment.makePrivate}' />
                    Make student repos private
                </label>
            </div>
            <div class="form-group">  
                <label>
                    <input type='checkbox' name='issuesEnabled'
                           th:checked='${assignment.issuesEnabled}' />
                    Enable issue tracking
                </label> 
            </div>
            <div class="form-group">                     
                <label>
                    <input type='checkbox' name='wikiEnabled'
                           th:checked='${assignment.wikiEnabled}' />
                    Enable wikis
                </label>
            </div>


            <th:block th:if="${userIsOwner}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type='button' onclick='deleteCourse()' class='btn btn-danger'>
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete Assignment
                </button>
                <button type="submit" action="" class="btn btn-primary pull-right">Update</button>
                <a href="" class="btn btn-secondary pull-right">Cancel</a>
            </th:block>
        </form>

        <div style="margin-top:20px;">
            <label>Student Repositories</label>
            <th:block th:replace="fragments/repo.html :: studentRepoList" />
        </div>
    </div>
    <div th:if="${assignment == null}" class="container">
        This assignment does not exist, or you do not have permission to view it.
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script sec:authorize="hasRole('ADMIN')" src="/js/admin.js"></script>
    <script sec:authorize="hasRole('INSTRUCTOR')" src="/js/instructor.js"></script>

    <script th:inline="javascript">
                var defaultOrgId = /*[[${course.defaultAssignmentOrganization.id}]]*/ 0;
                var userName = /*[[${owner.githubUsername}]]*/ "username";
    </script>

    <div id='repoModal' class="modal fade" role='dialog'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Select the source repository</h4>
                </div>
                <div class="modal-body">
                    <div class='form-group'>
                        <label for="orgSelect">Organization:</label>
                        <select class='form-control' id='orgSelect'
                                onChange='loadRepos("#repoSelect", this)'>
                        </select>
                    </div>
                    <div class='form-group'>
                        <label for="repoSelect">Repository:</label>
                        <select class='form-control' id='repoSelect'>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick='useRepo();'>Use this repo</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>
