<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>commit.mycode.run Login</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-sm well">
                <div class="bg-danger" style="margin-bottom: 20px; padding: 2px 20px 10px; border-radius: 5px;">                    
                    <h2>
                        commit.mycode.run
                        <img src="/winkingmonkey.svg" alt="winking monkey" style="display: inline-block; height: 1.2em; vertical-align: bottom;">
                    </h2>
                </div>
                
                
                <h1 th:text="${status}" style="display: inline"></h1>
                <h3 th:text="${error}" style="display: inline"></h3>
                
                <p style="clear: both;" th:text="${message} ?: 'Error'">Error</p>

                <a href="/" class="btn btn-primary pull-right">Go to dashboard</a>

                <th:block th:if="${exception != null}">
                    <p th:text="${exception}"></p>
                    <pre th:text="${trace}"/>
                </th:block>
            </div>
        </div>
    </body>
</html>