<!DOCTYPE HTML>
<html>
    <head>
        <title>commit.mycode.run</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="container">
                <h3>
                    <div class="label label-info">
                        Welcome, <span th:text="${#authentication.name}">user</span>!
                    </div>
                    <div class="pull-right">
                        <a href="/logout.html" class="btn btn-link">Log out</a>
                    </div>
                </h3>
            </div>
            
            <ul class="nav nav-tabs" id="homeTabs">
                <li class="nav-item active" th:if="${isAdmin != null}">
                    <a class="nav-link" id="admin-tab active" data-toggle="tab" href="#admin" role="tab" aria-controls="welcome" aria-selected="true">Admin</a>
                </li>   
                <li class="nav-item" th:if="${isInstructor != null}">
                    <a class="nav-link"  th:classappend="${!isAdmin} ? active" id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Instructor</a>
                </li>
            </ul>
            <div class="tab-content" id="homeTabsContent">
                <div class="tab-pane fade active in" id="admin" role="tabpanel" aria-labelledby="instructor-tab" th:if="${isAdmin != null}">
                    <div th:if="${disabledUsers != null}">
                        <h2>Disabled Users:</h2>
                        <div class="list-group">
                            <div th:each="dUser : ${disabledUsers}" class="list-group-item">
                                <a th:href="|/admin/enableuser/${dUser.id}|" class="btn btn-success"  style="vertical-align: middle;">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </a>
                                <div style="margin-left: 20px; display: inline-block; vertical-align: middle;">
                                    Name: <th:block th:text="${dUser.name}"></th:block><br/>
                                    Github Username: <th:block th:text="${dUser.githubUsername}"></th:block><br/>
                                    Email: <a th:href="|mailto:${dUser.email}|" th:text="${dUser.email}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" th:classappend="${isAdmin == null ? 'active in' : ''}" id="instructor" role="tabpanel" aria-labelledby="instructor-tab" th:if="${isInstructor != null}">
                    <h2>Organizations:</h2>
                    
                    <div class="list-group">
                        <p th:each="org : ${orgs}" class="list-group-item">
                            <th:block th:text="${org.login}">org</th:block>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>