<!DOCTYPE HTML>
<html>
    <head>
        <title>commit.mycode.run</title>
        <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">commit.mycode.run<img src="/winkingmonkey.svg" alt="winking monkey" style="display: inline-block; vertical-align:bottom; height: 1.5em;"></a>
                  </div>
                  <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout.html" class="btn btn-secondary">Logout <th:block sec:authentication="name">user</th:block></a>
                        </li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
            </nav>
            
            <ul class="nav nav-tabs" id="homeTabs">
                <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="welcome" aria-selected="true">Admin</a>
                </li>   
                <li class="nav-item" th:classappend="${#authorization.expression('hasRole(''ADMIN'')')?'':'active'}"  sec:authorize="hasRole('INSTRUCTOR')">
                    <a class="nav-link" id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Instructor</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="admin" role="tabpanel" aria-labelledby="instructor-tab"  sec:authorize="hasRole('ADMIN')">
                    <div th:if="${disabledUsers != null}">
                        <h2>Disabled Users:</h2>
                        <div class="list-group">
                            <div th:each="dUser : ${disabledUsers}" class="list-group-item">
                                <a th:href="|/admin/enableuser/${dUser.id}|" class="btn btn-success" style="vertical-align: middle;">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </a>
                                <div style="margin-left: 20px; display: inline-block; vertical-align: middle;">
                                    Name: <th:block th:text="${dUser.name}"></th:block><br/>
                                    Github Username: <th:block th:text="${dUser.githubUsername}"></th:block><br/>
                                    Email: <a th:href="|mailto:${dUser.email}|" th:text="${dUser.email}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" th:classappend="${#authorization.expression('hasRole(''ADMIN'')')?'':'active in'}" id="instructor" role="tabpanel" aria-labelledby="instructor-tab" >
                    <h2>Your Courses:</h2>
                    <div class="list-group">
                        <div class="list-group-item">
                            <a class="btn btn-primary" onclick="newCourse()">Add Course</a>
                        </div>
                        <div th:each="course : ${courseList}" class="list-group-item">
                            <th:block th:text="${courseName}">course</th:block>
                        </div>
                    </div>
                    
                    <h2>Organizations:</h2>
                    <div class="list-group">
                        <p th:each="org : ${orgs}" class="list-group-item">
                            <th:block th:text="${org.login}">org</th:block>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>