<!DOCTYPE HTML>
<html>
    <head>
        <title>commit.mycode.run</title>
        <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/commitVweb.css" />
        <link sec:authorize="hasRole('ADMIN')" rel="stylesheet" href="/css/commitAdmin.css" />
    </head>
    <body>
        <div class="container">
            <nav th:replace="fragments/ui.html :: navbar">commit.mycode.run</nav>
            
            <ul class="nav nav-tabs" id="homeTabs">
                <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" id="admin-tab" data-toggle="tab" href="#adminpanel" role="tab" aria-controls="welcome" aria-selected="true">Admin</a>
                </li>   
                <li class="nav-item" th:classappend="${#authorization.expression('hasRole(''ADMIN'')')?'':'active'}"  sec:authorize="hasRole('INSTRUCTOR')">
                    <a class="nav-link" id="instructor-tab" data-toggle="tab" href="#instructorpanel" role="tab" aria-controls="instructor" aria-selected="false">Instructor</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="adminpanel" role="tabpanel" aria-labelledby="admin-tab" sec:authorize="hasRole('ADMIN')">
                    <th:block th:replace='fragments/admin_home.html :: adminTabContents'></th:block>
                </div>
                <div class="tab-pane fade" th:classappend="${#authorization.expression('hasRole(''ADMIN'')')?'':'active in'}" id="instructorpanel" role="tabpanel" aria-labelledby="instructor-tab" >
                    <th:block th:replace='fragments/instructor_home.html :: instructorTabContents'></th:block>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script sec:authorize="hasRole('ADMIN')" src="/js/admin.js"></script>
        <script sec:authorize="hasRole('INSTRUCTOR')" src="/js/instructor.js"></script>
    </body>
</html>