<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>commit.mycode.run Login</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-sm well">
                <div>
                    <img src="/winkingmonkey.svg" alt="winking monkey" height="64px" style="float: right;">
                    <h2>commit.mycode.run</h2>
                </div>
                <h3>Welcome Teachers.</h3>
                <p>Use the login button to log in and set up courses for use
                    with GitHub.</p>
                <p>If you don't have an account, you can login to create an 
                    account, but your account will not be enabled until we can
                    verify that you are a teacher. Please make sure that your
                    GitHub email is your school supplied email to speed this
                    process.</p>
                <div class="list-group">
                    <p th:each="url : ${urls}">
                        <a th:text="|Login with ${url.key}|" th:href="${url.value}" class="list-group-item active">Client</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>