<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>commit.mycode.run Login</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-sm well">
                <div style="margin-bottom: 10px">                    
                    <h2>
                        commit.mycode.run
                        <img src="/winkingmonkey.svg" alt="winking monkey" style="display: inline-block; height: 1.2em; vertical-align: bottom;">
                    </h2>
                </div>
                <h3 style="clear: both;" th:text="${message} ?: 'Welcome Teachers'">Welcome Teachers.</h3>
                <p>Use the login button to log in and set up courses for use
                    with GitHub.</p>
                <p>If you don't have an account, you can login to create an 
                    account, but your account will not be enabled until we can
                    verify that you are a teacher. Please make sure that your
                    GitHub profile includes your institution and that your 
                    public email is set to your institution supplied email to
                    speed this process.</p>
                <div class="list-group">
                    <p th:each="url : ${urls}">
                        <a th:text="|Login with ${url.key}|" th:href="${url.value}" class="list-group-item active">Client</a>
                    </p>
                </div>
                <p>Note: Signing in will authorize commit.mycode.run access to
                    read your GitHub profile and email for verification 
                    purposes, and access to read and write to your repositories
                    (in any organizations you select) as is required for cloning
                    student repositories in those organizations.</p>
            </div>
        </div>
    </body>
</html>