<!DOCTYPE html>
<html>
    <head>
        <title th:text='|commit.mycode.run ${course != null and course.name != null ? course.name : "Course"}|'>commit.mycode.run Course</title>
        <th:block th:if="${userIsOwner}">
            <meta name="_csrf" th:content="${_csrf.token}"/>
            <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        </th:block>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/commitRepo.css" />
    </head>
    <body>
        <nav th:replace="fragments/repo.html :: repoNav">commit.mycode.run</nav>
        
        <div class="content">
            <th:block th:replace="fragments/repo.html :: repoInfo" />
            <!-- show student copies of this repo -->
            <label>Student Copies</label>
            <th:block th:replace="fragments/repo.html :: studentRepoList" />
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/js/repo.js"></script>
    </body>
</html>
