<!DOCTYPE html>
<html>
    <head>
        <title>UI Element Fragments</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">commit.mycode.run&#32;<img src="/winkingmonkey.svg" alt="winking monkey" style="display: inline-block; vertical-align:bottom; height: 1.5em;"></a>
              </div>
              <div id="navbar" class="collapse navbar-collapse" th:if="${noLogout == null}">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/logout.html" class="btn btn-secondary">Logout <th:block sec:authentication="name">user</th:block></a>
                    </li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
        </nav>
    </body>
</html>
